In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [94]:
# Floats (decimal numbers) should be displayed rounded with 2 decimal places
pd.options.display.float_format = "{:,.2f}".format
# Set style for plots
plt.style.use('fivethirtyeight')

In [95]:
# read in csv file and display first 5 rows of datset
df = pd.read_csv("data/Orders.csv")
df.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

In [96]:
df.columns

Index(['Index', 'Order ID', 'Order Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Origin Channel', 'Country/Region', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category', 'Product ID',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [97]:
df.shape

(9994, 19)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Mode       9994 non-null   object
 4   Customer ID     9994 non-null   object
 5   Customer Name   9994 non-null   object
 6   Origin Channel  9994 non-null   object
 7   Country/Region  9994 non-null   object
 8   City            9994 non-null   object
 9   State           9994 non-null   object
 10  Postal Code     9983 non-null   float64
 11  Region          9994 non-null   object
 12  Category        9994 non-null   object
 13  Sub-Category    9994 non-null   object
 14  Product ID      9994 non-null   object
 15  Sales           9994 non-null   float64
 16  Quantity        9994 non-null   int64
 17  Discount        9994 non-null   float64
 18  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 1.4+ MB

In [99]:
df.drop(["Country/Region"], axis=1, inplace=True)
df.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

Check for duplicates in original data (sheets file): there are no data to signify an individual dataset (row) as order_ids and product_ids are assigned several times, e.g. order of two different products by same customer gets same order_id.

In [100]:
df["Order Date"]= df["Order Date"].str.replace("/", ".")
df.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16.1.2019,Second Class,EH-13945,Eric Hoffmann,Email,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,11.3.2019,First Class,ON-18715,Odella Nelson,Sales,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,20.6.2019,Standard Class,LH-16900,Lena Hernandez,Email,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,17.6.2019,First Class,TB-21055,Ted Butterfield,Email,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,24.11.2018,Standard Class,KM-16720,Kunst Miller,Email,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

In [101]:
df["Order Date"]=pd.to_datetime(df["Order Date"], format='%d.%m.%Y')

df["Order Date"]=pd.to_datetime(df["Order Date"].dt.date)
df.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Mode       9994 non-null   object
 4   Customer ID     9994 non-null   object
 5   Customer Name   9994 non-null   object
 6   Origin Channel  9994 non-null   object
 7   City            9994 non-null   object
 8   State           9994 non-null   object
 9   Postal Code     9983 non-null   float64
 10  Region          9994 non-null   object
 11  Category        9994 non-null   object
 12  Sub-Category    9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Sales           9994 non-null   float64
 15  Quantity        9994 non-null   int64
 16  Discount        9994 non-null   float64
 17  Profit          9994 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(11)
memory usage: 1.4+ MB

In [103]:
# make copy of df and name as df_orders for better distinguishabliity
#df_orders=pd.DataFrame(df)

In [104]:
df_opd = pd.read_csv("data/OrderProcessData.csv")
df_opd.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0    3074  CA-2019-125206   3/1/2019         07/01/2019              Express
1    4919  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
2    4920  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
3    8604  US-2019-116365   3/1/2019         09/01/2019  Standard Processing
4    8605  US-2019-116365   3/1/2019         09/01/2019  Standard Processing

In [105]:
df_opd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5899 entries, 0 to 5898
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Row ID              5899 non-null   int64
 1   Order ID            5899 non-null   object
 2   Order Date          5899 non-null   object
 3   On Truck Scan Date  5899 non-null   object
 4   Ship Mode           5899 non-null   object
dtypes: int64(1), object(4)
memory usage: 230.6+ KB

In [106]:
# check for duplicates
df_opd["Row ID"].duplicated().value_counts()# convert trending_date and publish_time into datetime and extract date part from publish_time
# format specifies the present form of our argument we pass into the function
#df['trending_date'] = pd.to_datetime(df['trending_date'], format='%y.%d.%m')
#df['publish_time'] = pd.to_datetime(df['publish_time'], format='%Y-%m-%dT%H:%M:%S.%fZ')
#df['publish_date'] = pd.to_datetime(df['publish_time'].dt.date)

False    5899
Name: Row ID, dtype: int64

In [108]:
df_opd["Order Date"]= df["Order Date"].str.replace("/", ".")

AttributeError: Can only use .str accessor with string values!

In [ ]:
# date time for Order Date
df_opd["Order Date"]=pd.to_datetime(df_opd["Order Date"], format='%d.%m.%Y')
df_opd["Order Date"]=pd.to_datetime(df_opd["Order Date"].dt.date)
df_opd.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0    3074  CA-2019-125206 2019-01-03         07/01/2019              Express
1    4919  CA-2019-160304 2019-01-02         09/01/2019  Standard Processing
2    4920  CA-2019-160304 2019-01-02         09/01/2019  Standard Processing
3    8604  US-2019-116365 2019-01-03         09/01/2019  Standard Processing
4    8605  US-2019-116365 2019-01-03         09/01/2019  Standard Processing

In [ ]:
# date time for On Truck Scan 
df_opd["On Truck Scan Date"]= df_opd["On Truck Scan Date"].str.replace("/", ".")
df_opd["On Truck Scan Date"]=pd.to_datetime(df_opd["On Truck Scan Date"], format='%d.%m.%Y')
df_opd["On Truck Scan Date"]=pd.to_datetime(df_opd["On Truck Scan Date"].dt.date)
df_opd.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0    3074  CA-2019-125206 2019-01-03         2019-01-07              Express
1    4919  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
2    4920  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
3    8604  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
4    8605  US-2019-116365 2019-01-03         2019-01-09  Standard Processing

In [ ]:
# read Intern Data Study
df_ids = pd.read_csv("data/InternDataStudy.csv")
df_ids.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-116540         02/09/2019  03/09/2019
1  CA-2019-116540         02/09/2019  03/09/2019
2  CA-2019-129847         04/09/2019  04/09/2019
3  CA-2019-129630         04/09/2019  04/09/2019
4  CA-2019-106278         05/09/2019  06/09/2019

In [ ]:
df_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order ID            290 non-null    object
 1   Ready to Ship Date  290 non-null    object
 2   Pickup Date         290 non-null    object
dtypes: object(3)
memory usage: 6.9+ KB

In [ ]:
# check for duplicates
df_ids["Order ID"].duplicated().value_counts()

False    204
True      86
Name: Order ID, dtype: int64

Check if the same order ID is always on the same truck or not. If not, then no duplicate!

In [ ]:
# Datetime for Ready to Ship Date
df_ids["Ready to Ship Date"]= df_ids["Ready to Ship Date"].str.replace("/", ".")
df_ids["Ready to Ship Date"]=pd.to_datetime(df_ids["Ready to Ship Date"], format='%d.%m.%Y')
df_ids["Ready to Ship Date"]=pd.to_datetime(df_ids["Ready to Ship Date"].dt.date)
df_ids.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-116540         2019-09-02  03/09/2019
1  CA-2019-116540         2019-09-02  03/09/2019
2  CA-2019-129847         2019-09-04  04/09/2019
3  CA-2019-129630         2019-09-04  04/09/2019
4  CA-2019-106278         2019-09-05  06/09/2019

In [ ]:
# Datetime for Pickup Date
df_ids["Pickup Date"]= df_ids["Pickup Date"].str.replace("/", ".")
df_ids["Pickup Date"]=pd.to_datetime(df_ids["Pickup Date"], format='%d.%m.%Y')
df_ids["Pickup Date"]=pd.to_datetime(df_ids["Pickup Date"].dt.date)
df_ids.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-116540         2019-09-02  2019-09-03
1  CA-2019-116540         2019-09-02  2019-09-03
2  CA-2019-129847         2019-09-04  2019-09-04
3  CA-2019-129630         2019-09-04  2019-09-04
4  CA-2019-106278         2019-09-05  2019-09-06

In [ ]:
# read Campaign Data
df_cd = pd.read_csv("data/Campaign Data.csv")
df_cd.head()

         Order ID Arrival Scan Date     Customer Name
0  CA-2019-109666        03/05/2019      Kunst Miller
1  CA-2019-138933        03/05/2019       Jack Lebron
2  CA-2019-130001        03/05/2019  Heather Kirkland
3  CA-2019-113061        06/05/2019         Ed Ludwig
4  CA-2019-162138        06/05/2019       Grace Kelly

In [ ]:
df_cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           333 non-null    object
 1   Arrival Scan Date  333 non-null    object
 2   Customer Name      333 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

In [ ]:
# Datetime for Arrival Scan Date
df_cd["Arrival Scan Date"]= df_cd["Arrival Scan Date"].str.replace("/", ".")
df_cd["Arrival Scan Date"]=pd.to_datetime(df_cd["Arrival Scan Date"], format='%d.%m.%Y')
df_cd["Arrival Scan Date"]=pd.to_datetime(df_cd["Arrival Scan Date"].dt.date)
df_cd.head()

         Order ID Arrival Scan Date     Customer Name
0  CA-2019-109666        2019-05-03      Kunst Miller
1  CA-2019-138933        2019-05-03       Jack Lebron
2  CA-2019-130001        2019-05-03  Heather Kirkland
3  CA-2019-113061        2019-05-06         Ed Ludwig
4  CA-2019-162138        2019-05-06       Grace Kelly